* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 100%;
  margin-top: 20px;
}
.slider {
  width: 90%;
  margin: 0 auto;
}
.slider input[type='radio'] {
  display: none;
}

.slide_content {
  white-space: nowrap;
  overflow: hidden;
  background-color: tomato;
}

.slide_content__container {
  width: 100%;
  height: 35rem;
  transition: all 1s;
}

section {
  display: inline-block;
  width: 100%;
}

.slide_titles .title {
  display: none;
}

.slider #slide1:checked ~ .slide_content .slide_content__container {
  transform: translateX(0);
}
.slider #slide2:checked ~ .slide_content .slide_content__container {
  transform: translateX(-100%);
}

.slider #slide3:checked ~ .slide_content .slide_content__container {
  transform: translateX(-200%);
}

.slider #slide4:checked ~ .slide_content .slide_content__container {
  transform: translateX(-300%);
}

.slider #slide5:checked ~ .slide_content .slide_content__container {
  transform: translateX(-400%);
}

.slider #slide6:checked ~ .slide_content .slide_content__container {
  transform: translateX(-500%);
}

.slider #slide1:checked ~ .bottom_section .slide_titles #title1,
.slider #slide2:checked ~ .bottom_section .slide_titles #title2,
.slider #slide3:checked ~ .bottom_section .slide_titles #title3,
.slider #slide4:checked ~ .bottom_section .slide_titles #title4,
.slider #slide5:checked ~ .bottom_section .slide_titles #title5,
.slider #slide6:checked ~ .bottom_section .slide_titles #title6 {
  display: block;
}

section img {
  width: 33rem;
  height: 35rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.bottom_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

#slide1:checked ~ .bottom_section #input_bullets .bullet .bullet1,
#slide2:checked ~ .bottom_section #input_bullets .bullet .bullet2,
#slide3:checked ~ .bottom_section #input_bullets .bullet .bullet3,
#slide4:checked ~ .bottom_section #input_bullets .bullet .bullet4,
#slide5:checked ~ .bottom_section #input_bullets .bullet .bullet5,
#slide6:checked ~ .bottom_section #input_bullets .bullet .bullet6 {
  background-color: red;
}

.bullet {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
}

.bullet:hover {
  cursor: pointer;
}

.bullet_inside {
  display: block;
  width: 100%;
  height: 100%;
  margin: 10px;
  border-radius: 100%;
  background: #ccc;
}

.bullet_inside:hover {
  background-color: tomato;
}

#slide1:checked ~ .bottom_section .slide_titles .title:nth-child(1),
#slide1:checked ~ .bottom_section .slide_titles .title:nth-child(2),
#slide1:checked ~ .bottom_section .slide_titles .title:nth-child(3),
#slide1:checked ~ .bottom_section .slide_titles .title:nth-child(4),
#slide1:checked ~ .bottom_section .slide_titles .title:nth-child(5),
#slide1:checked ~ .bottom_section .slide_titles .title:nth-child(6) {
  color: brown;
}

.slide_titles {
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 700px) {
}
