* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 100%;
  margin-top: 20px;
}
.slider {
  width: 90%;
  margin: 0 auto;
}
.slider input[type='radio'] {
  display: none;
}
section {
  display: none;
  background-color: tomato;
  width: 100%;
}

.slider #slide1:checked ~ .slide_content #content1,
.slider #slide2:checked ~ .slide_content #content2,
.slider #slide3:checked ~ .slide_content #content3,
.slider #slide4:checked ~ .slide_content #content4,
.slider #slide5:checked ~ .slide_content #content5,
.slider #slide6:checked ~ .slide_content #content6 {
  display: block;
}

section img {
  width: 33rem;
  height: 35rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#input_bullets {
  margin: 50px 0 0;
  text-align: right;
}
#input_bullets label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#input_bullets label:hover {
  cursor: pointer;
  background-color: tomato;
}
#slide1:checked ~ #input_bullets label:nth-child(1),
#slide2:checked ~ #input_bullets label:nth-child(2),
#slide3:checked ~ #input_bullets label:nth-child(3),
#slide4:checked ~ #input_bullets label:nth-child(4),
#slide5:checked ~ #input_bullets label:nth-child(5),
#slide6:checked ~ #input_bullets label:nth-child(6) {
  background: red;
}
